/* Light mode colors */
[data-md-color-scheme="aces-light"] {
  --md-default-fg-color:        #000000;
  --md-primary-fg-color:        #343434;
  --md-primary-fg-color--light: #343434;
  --md-primary-fg-color--dark:  #8a8a8a;
  --md-primary-bg-color:        #ffffff;
  --md-accent-fg-color:         #957100;
  --md-typeset-a-color:         #BCA14B;
  --top-border-gold-color:      #c1a138;
}

/* Dark mode colors */
[data-md-color-scheme="slate"] {
    --md-hue: 220; 
    --md-default-fg-color--light:   #c5c5c5;
    --md-primary-fg-color:          #1d2026; /* BCA14B*/
    --md-primary-fg-color--dark:    #343434;
    --md-primary-bg-color:          #ffffff;
    --md-accent-fg-color:           #BCA14B;
    --md-typeset-a-color:           #BCA14B;
    --top-border-gold-color:        #c1a138;
    --md-footer-bg-color--dark: var(--md-primary-fg-color);
  }

 /* Table header colors */
.md-typeset table:not([class]) th {
    color: var(--md-primary-bg-color);
    background-color: var(--md-accent-fg-color);
}

/* Nav section active link and mouse over color */
.md-tabs__link--active, .md-tabs__link:is(:focus, :hover) {
	color: #BCA14B;
}

 /* Color of selected links in TOC / Navbar */
.md-nav__link[data-md-state="blur"] {
    color: var(--md-default-fg-color--light);
}
.md-nav__item .md-nav__link--active { 
    color: var(--md-accent-fg-color);
}

/* Footer Color */
.md-footer-meta {
	background-color: var(--md-primary-fg-color);
}

/* Header logo size, spacing, and mouse over formatting */
.md-header__button.md-logo :is(img, svg) {
	height: 1.7rem;
}

.md-header__button.md-logo {
	margin: .2rem;
	padding-bottom: 0.4rem;
}

.md-header__button:hover { 
    opacity: 1.0;
}

.md-nav__title .md-nav__button.md-logo :is(img, svg) {
	height: auto;
	max-width: 100%;
}

 /* Center Mermaid Diagrams */
.mermaid {
    text-align: center;
}

/* Format heading level 5 */
 .md-typeset h5 { 
    color: var(--md-default-fg-color);
    font-size: 1em; 
    text-transform: none;
 }

 /* Gold top line */
 .md-header {
    border-style: solid;
	border-color: var( --top-border-gold-color);
    border-top-width: 4px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
}

/* Shift caption up closer to image */
figcaption {
    position: relative;
    top: -20px;
}